h1{
    color: orangered;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    margin-top: 100px;
}

p{
    color:aquamarine;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:aquamarine;
}